html {
  overflow: hidden;
  overscroll-behavior: none;
  user-select: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.three-scene {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  height: 100%;
  max-height: 100vw;
}

/* #region Navigator */

.navigator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.brand {
  border-style: none;
  margin-right: 16px;
  font-size: 24px;
  font-weight: 100;
}

.navigator > .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8px;
  font-size: 12px;
}

.navigator > ul > li {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-right: 8px;
  background-color: white;
  transition: background-color 150ms;
}

.navigator > ul > li:hover {
  background-color: black;
}

.navigator a,
.navigator a:visited {
  display: block;
  padding: 6px;
  color: black;
  transition: color 150ms;
}

.navigator > ul > li:hover > a,
.navigator > ul > li:hover > a:visited {
  color: white;
}

.navScene {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 300ms;
  z-index: 1;
}

.navScene:hover {
  background-color: black;
}

.prevScene {
  left: 24px;
}

.nextScene {
  right: 24px;
}

.navScene::before {
  content: "";
  width: 16px;
  height: 16px;
  border-right: solid 1px black;
  border-top: solid 1px black;
  transition: border-color 300ms;
}

.navScene:hover::before {
  border-color: white;
}

.prevScene::before {
  transform: translateX(4px) rotate(-135deg);
}

.nextScene::before {
  transform: translateX(-4px) rotate(45deg);
}

/* #endregion */

#study-room {
  width: 60vw;
  height: 60vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 300ms;
}

@media (width <= 750px) {
  #study-room {
    width: 85vw;
    height: 85vw;
  }
}

@media (750px < width < 1024px) {
  #study-room {
    width: 75vw;
    height: 75vw;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 100;
}
